<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.wildcodeschool.apprenti.javabien">

    <application
        android:allowBackup="true"
        android:icon="@drawable/deer"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Accueil"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SecondActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExoActivityInsert"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExoActivityQcm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExoActivityDrag"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizzQcmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizzInsertActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".QuizzFinActivity"></activity>
    </application>

</manifest>